{% extends '@AropixelAdmin/List/datatable.html.twig' %}
{% import '@AropixelAdmin/Macro/breadcrumb.html.twig' as nav %}

{% block meta_title %}Promotions{% endblock %}

{% block header_title %}Promotions{% endblock %}

{% block header_breadcrumb %}
    {{ nav.breadcrumbs([
        {label: 'text.home'|trans, url: url('_admin')},
        {label: 'Promotions'},
    ]) }}
{% endblock %}

{% block header_actions %}
    <a href="{{ path('admin_promotion_new') }}" class="btn btn-primary float-right">
        <i class="fas fa-plus-circle mr-2"></i> Ajouter
    </a>
{% endblock %}
