{% extends '@AropixelAdmin/List/datatable.html.twig' %}
{% import '@AropixelAdmin/Macro/breadcrumb.html.twig' as nav %}

{% block meta_title %}Options de produit{% endblock %}

{% block header_title %}Options de produit{% endblock %}

{% block header_breadcrumb %}
    {{ nav.breadcrumbs([
        { label: 'text.home'|trans, url: url('_admin') },
        { label: 'Options de produit' }
    ]) }}
{% endblock %}

{% block header_actions %}
    <a href="{{ path('admin_product_option_new') }}" class="btn btn-primary float-right">
        <i class="fas fa-plus-circle mr-2"></i> Ajouter une option
    </a>
{% endblock %}
