{% extends '@AropixelAdmin/List/datatable.html.twig' %}
{% import '@AropixelAdmin/Macro/breadcrumb.html.twig' as nav %}

{% block meta_title %}{{ 'text.list'|trans }}{% endblock %}

{% block header_title %}Taux de taxes{% endblock %}

{% block header_breadcrumb %}
    {{ nav.breadcrumbs([
        {label: 'text.home'|trans, url: url('_admin')},
        {label: 'Taux de taxes'},
    ]) }}
{% endblock %}

{% block header_actions %}
    <a href="{{ path('admin_tax_rate_new') }}" class="btn btn-primary float-right">
        <i class="fas fa-plus-circle mr-2"></i> Ajouter
    </a>
{% endblock %}
