{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block header_title %}Modifier la variante{% endblock %}

{% block mainPanel %}
    <div class="card">
        <div class="card-body">
            {% include 'admin/product/variant/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
