{% extends '@AropixelAdmin/List/datatable.html.twig' %}
{% import '@AropixelAdmin/Macro/breadcrumb.html.twig' as nav %}

{% block meta_title %}Groupes{% endblock %}

{% block header_title %}Groupes{% endblock %}

{% block header_breadcrumb %}
    {{ nav.breadcrumbs([
        {label: 'text.home', url: url('_admin')},
        {label: 'Groupes'},
    ]) }}
{% endblock %}

{% block header_actions %}
    <a href="{{ path('admin_band_new') }}" class="btn btn-primary float-right">
        <i class="fas fa-plus-circle mr-2"></i> Ajouter un groupe
    </a>
{% endblock %}
